<div class="card" style="width: 20rem;" *ngIf="character">
  <img [src]="createImgUrl(character)" class="card-img-top" alt="character.name">
  <div class="card-body">
    <h5 class="card-title">{{ character.name }}</h5>
    <p class="card-text">{{ character.description }}</p>
    <p *ngIf="character.comics.items && character.comics.items.length > 0; else elseComicItems" class="card-title"><b>Comics:</b></p>
    <ul>
      <li *ngFor="let comic of character.comics.items | slice:0:4;">
        <span class="clickable" (click)="setCurrentComic(comic.resourceURI)">
          {{ comic.name }}
        </span>
      </li>
    </ul>
    <ng-template #elseComicItems>
      <p class="card-title"><b>This character has not appeared in any comic yet.</b></p>
    </ng-template>
  </div>
</div>

<app-comic-card [comic]="currentComic" [isOpen]="isComicModalOpen" (close)="closeComicModal()"></app-comic-card>
