<!--
Foto.
Name,
Description,
4 assocciate comics
-->
<div class="card" style="width: 18rem;" *ngIf="character">
  <img src="..." class="card-img-top" alt="character.name">
  <div class="card-body">
    <h5 class="card-title">{{ character.name }}</h5>
    <p class="card-text">{{ character.description }}</p>
    <ul>
      <li *ngFor="let comic of character.comics.items | slice:0:4;">
        <a [href]="setComicUrl(comic.resourceURI)" class="btn btn-primary" target="_blank">
          {{ comic.name }}
        </a>
      </li>
    </ul>
  </div>
</div>
