.navbar {
  //background-color: rgba(255, 0, 0, 0.9) !important;
  //background-image: url("/assets/m1.jpg");
  background-color: black !important;
}

a {
  color: white;
}

span {
  color: white;
  background-color: white;
}
